In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import geopandas as gpd
import matplotlib.pyplot as plt
%matplotlib inline
import geopandas as gpd

In [2]:
map_ = gpd.read_file("../raw_data/nl/nl_ageb_urbana.shp")

In [3]:
map_urban = map_.drop(columns=["CVE_AGEB","CVE_ENT","CVE_LOC","CVE_MUN"])

In [24]:
map_urban.shape

(2528, 2)

In [4]:
data = pd.read_csv("../raw_data/pob1.csv")

In [5]:
data.head()

,Unnamed: 0,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,AGEB,MZA,pob_ttl,...,15_nosecundaria,18_24_analphab,pob_activa,pob_desocupada,sin_salud,imss_salud,issste_salud,secr_salud,priv_salud,catolica
0,0,19,Nuevo León,0,Total de la entidad Nuevo León,0,Total de la entidad,0000,0,5784442,...,57375,231722,2862003,54554,1072664,3596116,178747,558212,330130,4492947
1,1,19,Nuevo León,1,Abasolo,0,Total del municipio,0000,0,2974,...,31,96,1130,37,141,1783,62,752,218,2264
2,2,19,Nuevo León,2,Agualeguas,0,Total del municipio,0000,0,3382,...,61,52,1322,20,328,944,111,1803,102,2827
3,3,19,Nuevo León,3,Los Aldamas,0,Total del municipio,0000,0,1407,...,20,8,535,11,320,71,17,963,7,1281
4,4,19,Nuevo León,4,Allende,0,Total del municipio,0000,0,35289,...,517,897,17028,134,4420,21907,845,6498,1324,28852

In [6]:
data_ageb = data[data['NOM_LOC'] == "Total AGEB urbana"]

In [12]:
data_ageb['CVEGEO'] = (data_ageb.ENTIDAD.astype(str).str.zfill(2) +\
                      data_ageb.MUN.astype(str).str.zfill(3) +\
                      data_ageb.LOC.astype(str).str.zfill(4) +\
                      data_ageb.AGEB.astype(str).str.zfill(4) \
                      )

<ipython-input-12-889efb26c6be>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ageb['CVEGEO'] = (data_ageb.ENTIDAD.astype(str).str.zfill(2) +\

In [15]:
data_ageb.head()

,Unnamed: 0,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,AGEB,MZA,pob_ttl,...,18_24_analphab,pob_activa,pob_desocupada,sin_salud,imss_salud,issste_salud,secr_salud,priv_salud,catolica,CVEGEO
6,6,19,Nuevo León,4,Allende,1,Total AGEB urbana,0095,0,721,...,20,324,0,78,523,17,36,34,616,1900400010095
41,41,19,Nuevo León,4,Allende,1,Total AGEB urbana,0112,0,624,...,29,268,0,29,484,7,75,41,545,1900400010112
74,74,19,Nuevo León,4,Allende,1,Total AGEB urbana,0127,0,431,...,23,241,*,51,268,11,36,41,345,1900400010127
99,99,19,Nuevo León,4,Allende,1,Total AGEB urbana,0131,0,1243,...,31,616,3,138,858,11,166,63,1022,1900400010131
131,131,19,Nuevo León,4,Allende,1,Total AGEB urbana,0146,0,2145,...,135,1148,9,205,1341,145,80,340,1903,1900400010146

In [18]:
data_position = data_ageb.merge(map_urban, on="CVEGEO")

In [22]:
data_position.head()

,Unnamed: 0,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,AGEB,MZA,pob_ttl,...,pob_activa,pob_desocupada,sin_salud,imss_salud,issste_salud,secr_salud,priv_salud,catolica,CVEGEO,geometry
0,6,19,Nuevo León,4,Allende,1,Total AGEB urbana,0095,0,721,...,324,0,78,523,17,36,34,616,1900400010095,"POLYGON ((-100.00263 25.27063, -100.00339 25.2..."
1,41,19,Nuevo León,4,Allende,1,Total AGEB urbana,0112,0,624,...,268,0,29,484,7,75,41,545,1900400010112,"POLYGON ((-100.01541 25.27282, -100.01614 25.2..."
2,74,19,Nuevo León,4,Allende,1,Total AGEB urbana,0127,0,431,...,241,*,51,268,11,36,41,345,1900400010127,"POLYGON ((-100.01970 25.28220, -100.01896 25.2..."
3,99,19,Nuevo León,4,Allende,1,Total AGEB urbana,0131,0,1243,...,616,3,138,858,11,166,63,1022,1900400010131,"POLYGON ((-100.01643 25.28641, -100.01631 25.2..."
4,131,19,Nuevo León,4,Allende,1,Total AGEB urbana,0146,0,2145,...,1148,9,205,1341,145,80,340,1903,1900400010146,"POLYGON ((-100.03650 25.27945, -100.03939 25.2..."

In [21]:
data_position.to_csv("../raw_data/data_position.csv")

In [ ]:
map_position = data_position['geometry']

In [25]:
census = pd.read_csv("../raw_data/Census_Socio_2020/RESAGEBURB_19CSV20.csv")

In [26]:
census = census[census['NOM_LOC']=="Total AGEB urbana"]

In [28]:
census['CVEGEO'] = (census.ENTIDAD.astype(str).str.zfill(2) +\
                      census.MUN.astype(str).str.zfill(3) +\
                      census.LOC.astype(str).str.zfill(4) +\
                      census.AGEB.astype(str).str.zfill(4) \
                      )

<ipython-input-28-128b48ff8a65>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  census['CVEGEO'] = (census.ENTIDAD.astype(str).str.zfill(2) +\

In [30]:
census.merge(map_urban, on="CVEGEO")

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,AGEB,MZA,POBTOT,POBFEM,...,VPH_INTER,VPH_STVP,VPH_SPMVPI,VPH_CVJ,VPH_SINRTV,VPH_SINLTC,VPH_SINCINT,VPH_SINTIC,CVEGEO,geometry
0,19,Nuevo León,4,Allende,1,Total AGEB urbana,0095,0,721,367,...,156,138,76,39,*,10,74,0,1900400010095,"POLYGON ((-100.00263 25.27063, -100.00339 25.2..."
1,19,Nuevo León,4,Allende,1,Total AGEB urbana,0112,0,624,258,...,147,124,59,30,4,7,22,*,1900400010112,"POLYGON ((-100.01541 25.27282, -100.01614 25.2..."
2,19,Nuevo León,4,Allende,1,Total AGEB urbana,0127,0,431,235,...,123,124,47,16,5,5,40,0,1900400010127,"POLYGON ((-100.01970 25.28220, -100.01896 25.2..."
3,19,Nuevo León,4,Allende,1,Total AGEB urbana,0131,0,1243,630,...,257,278,57,28,10,22,141,3,1900400010131,"POLYGON ((-100.01643 25.28641, -100.01631 25.2..."
4,19,Nuevo León,4,Allende,1,Total AGEB urbana,0146,0,2145,1055,...,587,491,319,181,9,5,68,*,1900400010146,"POLYGON ((-100.03650 25.27945, -100.03939 25.2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2342,19,Nuevo León,51,Villaldama,1,Total AGEB urbana,0292,0,11,6,...,*,*,0,*,0,0,*,0,1905100010292,"POLYGON ((-100.43388 26.48879, -100.43289 26.4..."
2343,19,Nuevo León,51,Villaldama,1,Total AGEB urbana,0305,0,41,13,...,*,9,0,*,*,0,10,0,1905100010305,"POLYGON ((-100.44747 26.50390, -100.44689 26.5..."
2344,19,Nuevo León,51,Villaldama,1,Total AGEB urbana,031A,0,0,0,...,0,0,0,0,0,0,0,0,190510001031A,"POLYGON ((-100.42762 26.48481, -100.42778 26.4..."
2345,19,Nuevo León,51,Villaldama,1,Total AGEB urbana,0324,0,30,15,...,3,*,0,*,0,*,6,0,1905100010324,"POLYGON ((-100.42206 26.50335, -100.42246 26.5..."
2346,19,Nuevo León,51,Villaldama,1,Total AGEB urbana,0339,0,7,*,...,*,*,*,*,*,*,*,*,1905100010339,"POLYGON ((-100.44977 26.50289, -100.44917 26.5..."

In [31]:
census.to_csv("../raw_data/census.csv")