In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
dip = pd.read_excel('../raw_data/20180709_1342_bd/NL_DIPUT_LOC_2018.xlsm')

In [10]:
dip.columns

Index([' CLAVE_CASILLA', 'CLAVE_ACTA', 'ID_ESTADO', 'ESTADO',
       'ID_DISTRITO_LOCAL', 'DISTRITO_LOCAL', 'SECCION', 'ID_CASILLA',
       'TIPO_CASILLA', 'EXT_CONTIGUA', 'UBICACION_CASILLA', 'PAN', 'PRI',
       'PRD', 'PT', 'PVEM', 'MC', 'NAPPN', 'MORENA', 'PES', 'RED',
       'C_PT_MORENA_PES', 'C_PT_MORENA', 'C_PT_PES', 'C_MORENA_PES', 'CI_1',
       'CI_2', 'CI_3', 'CNR', 'Votos Anulados', 'TOTAL_VOTOS_CALCULADO',
       'LISTA_NOMINAL', 'FECHA_HORA_CAPTURA'],
      dtype='object')

In [11]:
muni = pd.read_excel('../raw_data/20180709_1342_bd/NL_AYUN_2018.xlsm')

In [12]:
muni.head()

,CLAVE_CASILLA,CLAVE_ACTA,ID_ESTADO,ESTADO,ID_MUNICIPIO,MUNICIPIO,SECCION,ID_CASILLA,TIPO_CASILLA,EXT_CONTIGUA,...,CI_2,CI_3,CI_4,CI_5,CI_6,CNR,Votos Anulados,TOTAL_VOTOS_CALCULADO,LISTA_NOMINAL,FECHA_HORA_CAPTURA
0,190001B0100,190001B01005,19,NUEVO LEON,1,Abasolo,1,1,B,NaN,...,0,0,0,0,0,0,5,353,435,2018-07-04 12:09:56
1,190001C0201,190001C02015,19,NUEVO LEON,1,Abasolo,1,2,C,1.0,...,0,0,0,0,0,1,6,325,434,2018-07-04 12:11:31
2,190002B0100,190002B01005,19,NUEVO LEON,1,Abasolo,2,1,B,NaN,...,0,0,0,0,0,0,20,534,710,2018-07-04 12:12:38
3,190002C0201,190002C02015,19,NUEVO LEON,1,Abasolo,2,2,C,1.0,...,0,0,0,0,0,0,23,522,709,2018-07-04 12:14:12
4,190003B0100,190003B01005,19,NUEVO LEON,2,Agualeguas,3,1,B,NaN,...,0,0,0,0,0,0,5,335,414,2018-07-04 10:53:05